---
title: "Paymill Guides"
type: "guide"
status: "published"
---

p 
  |Intergrating PAYMILL is really easy. We provide you with a simple an straightforward yet powerful API. Having a payment form ready to accept payments on your website be it a custom solution or a shopping cart CMS is just a matter of minutes. You can check the [API Reference](/API) to get all the information you need to implement our solution.

p 
  |However ease of use is one of our main concerns. You will find even more information in the following guides. 

ul.toc
  - for item in generateMenu(site.url, getCollection('guides'))[0].children              
    h2= item.title
    if item.children                  
      ul
        - for child in item.children
          li 
            a(href="#{child.url}") 
              = child.title

p
  If you can't find the content you need, feel free to contact our 
  a(href='mailto:support@paymill.com')
    |Support Team. 
